.dropdown-item{
    color:darkolivegreen;
    background-color:darkgray;
}
.panda-btn{
    background-color: #FF589B;
    border-radius: 10px;
    color: white;
    padding: 10px 25px;
    border: none;
    font-weight: 750;
}
.categories img{
    width: 100px;
}
.panda-slide-img img{
    height: 370px;
    width: 395px;
}
.shoes-categories,.categories,.backpack-categories,.subscribe-categories{
    margin-top: 150px;
}